<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/appointments" class="brand">Randevu</a>
    <a routerLink="/appointments" routerLinkActive="active">Randevular</a>
    <a routerLink="/meetings" routerLinkActive="active">Toplantılar</a>
  </div>
  <div class="nav-right">
    <ng-container *ngIf="isAuthenticated(); else guest">
      <button class="link" (click)="logout()">Çıkış Yap</button>
    </ng-container>
    <ng-template #guest>
      <a routerLink="/login" routerLinkActive="active">Giriş</a>
      <a routerLink="/register" routerLinkActive="active">Kayıt Ol</a>
    </ng-template>
  </div>
</nav>


